h1 {
    border: 2px #eee solid;
    color: blue;
    text-align: center;
    padding: 10px;
}

#circle {
    left:200px;
    top:200px;
    height:30px;
    width:60px;
    border-radius:50%;
    border: solid 1px black;
    
}
